name: Autograding Tests

on:
  push:
  workflow_dispatch:

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install --upgrade pip pytest

      - name: Run autograding tests
        id: grader
        uses: classroom-resources/autograding-python-grader@v1
        with:
          timeout: 10
          setup-command: pip install --upgrade pip pytest

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          TESTS_RESULTS: ${{ steps.grader.outputs.tests }}
        with:
          runners: grader