name: Autograding Tests

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV
      - name: Install pytest
        run: pip install --upgrade pip pytest
      - name: Run pytest
        run: python -m pytest -q
